{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'djWordAlign/joint.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'djWordAlign/style.css' %}" />

<script type="text/javascript" src="{% static 'djWordAlign/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'djWordAlign/lodash.js' %}"></script>
<script type="text/javascript" src="{% static 'djWordAlign/backbone.js' %}"></script>
<script type="text/javascript" src="{% static 'djWordAlign/joint.min.js' %}"></script>
<script type="text/javascript" src="{% static 'djWordAlign/code.js' %}"></script>

<input type=button value="Next" id="nextButton" onclick="nextSentence()"/>

<div id="paper" />


